h1 {
    font-size: 20px;
    font-family: georgia;            
    text-align: center;
    background-color: #B53616;
   }
    h2 {
    font-size: 15px;
    color: #A01C51 ;
    text-align: center;
    background-image: url(https://amiel.club/uploads/posts/2022-03/1647652813_1-amiel-club-p-kartinki-svetlii-fon-1.jpg);
    background-size: 100%;
    font-family: Constantia;  
    }
    h3 {
    font-size: 40px; 
    text-align: center;
    background-color: #843FC6;
    }
